$color-blue:#007bc1;
$color-dark-blue-opacity:rgba(5, 3, 40, 0.5);
$color-dark-blue:#004a75;
$color-dark-purple:#050328;
$color-orange:#ff8000;
$color-dark-orange:#cc6600;
$color-smoke-grey:#e5e5e5;
$color-white-1:#F2F2F2;
$color-dark-1:#222;
$color-dark-2:#333;
$box-shadow-1: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-2:0 2px 3px 0 rgba(0,0,0,0.2);